{% extends 'partials/base.html' %}
{% block title %} Продукты {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/topnav.html' %}
<!-- Message add -->
<div aria-live="polite" aria-atomic="true" style="position: fixed; bottom: 20px; right: 20px; z-index: 1050;">
    {% for message in messages %}
    {% if message %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-success">Успех</strong>
            <small>Сейчас</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<!-- End Message add -->
<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                <div class="border bg-white p-3">
                    <h4>Добавьте продукт</h4>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Add Product">
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead style="background-color: #4caf50;">
                        <tr class="text-white">
                            <th scope="col">Товар</th>
                            <th scope="col">Категория</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Свойства</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' item.id %}">Изменить</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}">Удалить</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--End Table-->
{% endblock %}